<h3>Danny Caballero</h3>

<h4>Lappan-Phillips Associate Professor of Physics Education</h4>
<i><a href="http://pa.msu.edu">Department of Physics and Astronomy</a>,<br/>
  <a href="http://cmse.msu.edu">Department of Computational Mathematics, Science, and Engineering</a>, & <br/>
  <a href="create4stem.msu.edu">CREATE for STEM Institute</a></i><br/>
Michigan State University

<h4>Associate Professor</h4>
<i><a href="http://www.mn.uio.no/fysikk/english/">Department of Physics</a> & <a href="https://www.mn.uio.no/ccse/english/">Center for Computing in Science Education</a></i><br/>
University of Oslo<br/>

<h3>Contact Information</h3>
<h4>Physical Address</h4>
<p>Department of Physics and Astronomy<br/> Biomedical Physical Sciences<br/> 567 Wilson Road, Room 1310-A<br/> East Lansing, MI 48824<br/> Tel: 517-884-5657</p>
<h4>On the web</h4>
<ul>
<li>Email: <a href="mailto:caballero@pa.msu.edu"><i class='fa fa-envelope'></i></a></li>
<li>Google Scholar: <a href="https://scholar.google.com/citations?user=RyAEDZI1S2MC&hl=en"><i class="fa fa-google"></i></a></li>
<li>ArXiV: <a href="http://arxiv.org/find/physics/1/au:+Caballero_M/0/1/0/all/0/1"><i class='fa fa-flask'></i></a></li>
<li>Twitter: <a href="https://twitter.com/physicistdanny"><i class='fa fa-twitter'></i></a></li>
<li>GitHub: <a href="https://github.com/dannycab"><i class='fa fa-github'></i></a></li>
</ul>
