---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h3 itemprop="name headline">{{ page.title }}</h3>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"><h4>{{ page.date | date: "%b %-d, %Y" }}</h4></time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-tags">
  {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  <b>Tags:</b>
  {% for tag in tags %}
  <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div><br/>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
